Screen {
    background: #1e1e1e;
    align: center middle;
}

/* Menu Styling */
MenuScreen {
    align: center middle;
}

#title {
    content-align: center middle;
    text-align: center;
    text-style: bold;
    color: #4EC9B0;
    margin-bottom: 1;
    text-opacity: 90%;
}

.section_title {
    margin-top: 0;
    margin-bottom: 0;
    color: #ce9178;
    text-align: center;
}

/* Standardize all buttons */
Button {
    height: 3;
    width: 20;
    margin: 0 1;
    border: wide #3c3c3c;
    /* Match background so it takes up space but looks invisible */
    content-align: center middle;
    background: #3c3c3c;
    color: #cccccc;
}

.selected {
    border: wide #4EC9B0;
    color: #4EC9B0;
    background: #252526;
    height: 3;
    text-style: bold;
}

Button:focus {
    background: #007ACC;
    color: #ffffff;
    text-style: bold;
    border: wide #007ACC;
}

.btn_row {
    align: center middle;
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.action_row {
    align: center middle;
    margin-top: 1;
}

#btn_start {
    background: #4EC9B0;
    color: #1e1e1e;
    width: 20;
    /* Uniform width */
}

#btn_history {
    background: #3c3c3c;
    width: 20;
    /* Uniform width */
    margin-right: 2;
}


/* Typing Screen */
#main_container {
    width: 80%;
    height: 80%;
    border: solid #505050;
    padding: 1 2;
    background: #252526;
}

.top_bar {
    height: 3;
    dock: top;
    margin-bottom: 1;
    color: #cbccc6;
    background: #323233;
    padding: 1;
}

.info_label {
    width: 30%;
    content-align: left middle;
}

TypingArea {
    height: 100%;
    content-align: left top;
    padding: 1;
}

#instruction {
    dock: bottom;
    text-align: center;
    color: #6a9955;
    margin-top: 1;
}

/* Results Screen */
ResultsScreen {
    background: 50% #000;
}

#results_box {
    width: 60;
    height: auto;
    border: solid #4EC9B0;
    padding: 2;
    background: #252526;
}

#heading {
    content-align: center middle;
    text-align: center;
    color: #4EC9B0;
    text-style: bold;
    border-bottom: solid #4EC9B0;
    margin-bottom: 2;
}

#stats_row {
    height: 5;
    margin-bottom: 2;
    align: center middle;
}

.stat_box {
    width: 30%;
    align: center middle;
}

.stat_title {
    text-align: center;
    color: #ce9178;
}

.stat_value {
    text-align: center;
    text-style: bold;
    color: #dcdcaa;
}

.btn_row_center {
    align: center middle;
}

/* History Screen */
#history_container {
    width: 90%;
    height: 90%;
    background: #252526;
    border: solid #505050;
    padding: 1;
}

.heading {
    text-align: center;
    text-style: bold;
    margin-bottom: 1;
}

DataTable {
    height: 1fr;
    border: solid #3c3c3c;
    margin-bottom: 1;
}

#back_btn {
    dock: bottom;
    width: 100%;
}